---
import Layout from "../layouts/Layout.astro";
import HeaderNavbar from "../components/HeaderNavbar.astro";
import HeaderTabs from "../components/HeaderTabs.astro";
import SideBarNav from "../components/react/SideBarNav.tsx";
---

<Layout title="Microfrontend Demo">
  <HeaderNavbar />
  <HeaderTabs />
  <SideBarNav client:only="react" />
  <main class="min-h-screen bg-gray-50 py-8"></main>
</Layout>
